<%- include header %>
<form method="post">
  标题：<br />
  <input type="text" name="title" /><br />
  标签：<br />
  <input type="text" name="tags[1]" /> 
  <input type="text" name="tags[2]" /> 
  <input type="text" name="tags[3]" /><br />
  正文：<br />
  <textarea name="content" rows="20" cols="100"></textarea><br /><br />
  <input type="submit" value="发表" />
</form>
<%- include footer %>